<p id="notice"><%= notice %></p>

<h1>Vanguards</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vanguards.each do |vanguard| %>
      <tr>
        <td><%= link_to 'Show', vanguard %></td>
        <td><%= link_to 'Edit', edit_vanguard_path(vanguard) %></td>
        <td><%= link_to 'Destroy', vanguard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vanguard', new_vanguard_path %>
