<p id="notice"><%= notice %></p>

<h1>Buddyfights</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @buddyfights.each do |buddyfight| %>
      <tr>
        <td><%= link_to 'Show', buddyfight %></td>
        <td><%= link_to 'Edit', edit_buddyfight_path(buddyfight) %></td>
        <td><%= link_to 'Destroy', buddyfight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Buddyfight', new_buddyfight_path %>
